@charset "UTF-8";

/* =========================== */
/*
/* リセット
/*
/* =========================== */

/* reset */
html {
  color: #000;
  background: var(--color-button-white);
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  /* line-height: inherit; */
  line-height: normal;
  font-size: 100%;
  border-radius: 5px;
  border: 1px solid var(--color-text-dark);
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

input::placeholder {
  opacity: 0.6;
}

textarea {
  resize: vertical;
  display: block;
}

textarea::placeholder {
  opacity: 0.6;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

iframe {
  vertical-align: bottom;
}

/* =========================== */
/*
/* 共通定数
/*
/* =========================== */

/* color */
:root {
  --color-bg-label: #C8C8C8;
  --color-bg-btn-red: #FF5555;
  --color-bg-modal: rgba(217, 217, 217, 0.6);
  --color-bg-black: #000;
  --color-bg-white: #fff;
  --color-bg-base: #F0EFF2;
  --color-font-base: #000;
  --color-font-red: #FF5555;
  --color-font-white: #fff;
  --color-font-blue: #0073CC;
  --color-font-gray: #696969;
  --color-font-light-gray: #737373;
  --color-border-black: #000;
  --color-border-gray: #5F5F5F;
  --color-border-light-gray: #E1E1E1
}

/* font */
:root {
  --font-family-jp: "Noto Sans JP", sans-serif;
}

/* rem */
html {
  font-size: 16px;
}

/* aタグhover */
a:hover {
  opacity: 0.8;
}

/* 各ページの共通設定 */
.cmn-page {
  min-height: calc(100vh - 80px);
  line-height: 1;
  background-color: var(--color-bg-base);
  overflow: hidden;
}


/* =========================== */
/*
/* ユーティリティ
/*
/* =========================== */

.u-visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

/* =========================== */
/*
/* レイアウト
/*
/* =========================== */

/* =========================== */
/*
/* CSSコンポーネント
/*
/* =========================== */

/* ---------------------- */
/* 通常のボタン
/* ---------------------- */
.c-btn {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.c-btn:hover {
  opacity: 0.8;
}

.c-btn a {
  display: block;
}

.c-btn--black {
  color: var(--color-font-white);
  background-color: var(--color-bg-black);
}

.c-btn--white {
  color: var(--color-font-base);
  background-color: var(--color-bg-white);
  border: 1px solid var(--color-border-gray)
}

.c-btn--auth {
  width: 100%;
  height: 60px;
  font-size: 26px;
}

.c-btn--attendance-register {
  width: 220px;
  height: 77px;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 20px;
}

.c-btn--verify-resend {
  margin: 0 auto;
  width: 300px;
  height: 60px;
  color: var(--color-font-white);
  background-color: var(--color-bg-btn-red);
}

.c-btn--verify-logout {
  margin: 0 auto;
  width: 300px;
  height: 60px;
  color: var(--color-font-base);
  border: 1px solid var(--color-border-black);
}

.c-btn--modal-close {
  width: 100px;
  height: 50px;
  color: var(--color-font-base);
  background-color: var(--color-bg-btn-white);
  border: 1px solid var(--color-border-gray);
}

.c-btn--attendance-correction {
  margin: 0 0 0 auto;
  width: 130px;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
}

.c-btn--attendance-list {
  width: 130px;
  height: 50px;
  font-size: 22px;
  font-weight: 700;
}

/* ---------------------- */
/* デフォルトのフォーム
/* ---------------------- */
.c-default-form {
  margin: 50px auto 114px;
  width: 680px;
  line-height: 1;
}

.c-default-form .title {
  margin-bottom: 54px;
  font-size: 2.25rem;  /* 36px */
  font-weight: 700;
  text-align: center;
}

.c-default-form .form-title {
  margin-bottom: 8px;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
}

.c-default-form .form-title:not(:first-of-type) {
  margin-top: 38px;
}

.c-default-form .form-input {
  padding-left: 20px;
  width: 100%;
  height: 59px;
  font-size: 20px;
  border: 1px solid var(--color-border-gray)
}

.c-default-form .form-input-name {
  display: flex;
  gap: 20px;
}

.c-default-form .form-btn {
  margin-top: 67px;
  margin-bottom: 35px;
}

.c-default-form .login-link {
  display: block;
  color: var(--color-font-blue);
  font-size: 1.25rem;
  text-align: center;
}

/* ---------------------- */
/* エラーメッセージ
/* ---------------------- */
.c-error-message {
  margin-top: 8px;
  color: var(--color-font-red);
  font-size: 1rem;
  line-height: 1;
}

.c-table-error-message {
  margin-top: 8px;
  color: var(--color-font-red);
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1;
}

/* ---------------------- */
/* DB処理完了メッセージ用モーダル
/* ---------------------- */
.c-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  background-color: var(--color-bg-modal);
}

.c-modal--confirm {
  top: 0;
  left: 0;
}

.c-modal .message {
  box-sizing: border-box;
  padding: 60px 60px;
  width: 60%;
  max-width: 800px;
  min-height: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--color-bg-white);
  border: 1px solid var(--color-border-gray);
  border-radius: 5px;
  animation: modalScale 0.5s ease forwards;
}

@keyframes modalScale {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}


@media screen and (max-width: 1000px) {
  .c-modal .message {
    width: 80%;
  }
}

.c-modal .message-wrapper {
  width: 100%;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.c-modal .title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.c-modal .content {
  font-size: 1rem;
  line-height: 1;
}

.c-modal .content:first-of-type {
  margin-top: 20px;
}

.c-modal .error {
  color: var(--color-font-red);
}

.c-modal .btn {
  margin-top: 10px;
}

/* ---------------------- */
/* 処理実行継続確認用モーダル
/* ---------------------- */
.c-modal-confirm {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--color-bg-modal);
}

.c-modal-confirm .message {
  box-sizing: border-box;
  padding: 60px 60px;
  width: 60%;
  max-width: 800px;
  min-height: 230px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--color-bg-white);
  border: 1px solid var(--color-border-gray);
  border-radius: 5px;
  animation: modalScale 0.5s ease forwards;
}

@keyframes modalScale {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}


@media screen and (max-width: 1000px) {
  .c-modal-confirm .message {
    width: 80%;
  }
}

.c-modal-confirm .message-wrapper {
  width: 100%;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.c-modal-confirm .title {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
}

.c-modal-confirm .content {
  font-size: 1rem;
  line-height: 1;
}

.c-modal-confirm .content:first-of-type {
  margin-top: 20px;
}

.c-modal-confirm .error {
  color: var(--color-font-red);
}

.c-modal-confirm .btn {
  margin-top: 10px;
}

/* ---------------------- */
/* ラベル
/* ---------------------- */
.c-label {
  width: 100px;
  height: 40px;
  display: grid;
  place-items: center;
  color: var(--color-font-gray);
  border-radius: 50px;
  background-color: var(--color-bg-label);
}

/* ---------------------- */
/* タイトル
/* ---------------------- */
.c-title {
  margin-top: 50px;
  padding-left: 21px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  border-left: 8px solid var(--color-border-black);
}

/* ---------------------- */
/* 一覧テーブル
/* ---------------------- */
.c-table {
  max-width: 900px;
  color: var(--color-font-light-gray);
  font-weight: 700;
  background-color: var(--color-bg-white);
  border-collapse: separate;
  border-spacing: 0;
  border: none;
  border-radius: 10px;
}

.c-table .header th {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
}

.c-table .data td {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 3px solid var(--color-border-light-gray);
}

.c-table .data td:last-child {
  color: var(--color-font-base);
}

/* 個別設定 */
/* attendance-list関係 */
.c-table--attendance-list .header th:first-child,
.c-table--attendance-list .data td:first-child {
  padding-left: 55px;
  width: 238px;
}

@media screen and (max-width: 1000px) {
  .c-table--attendance-list .header th:first-child,
  .c-table--attendance-list .data td:first-child {
    padding-left: 30px;
    width: 200px;
  }
}

/* stamp-correction-request関係 */
.c-table--stamp-correction-request .header th:first-child,
.c-table--stamp-correction-request .data td:first-child {
  padding-left: 20px;
  width: 120px;
}

.c-table--stamp-correction-request .header th:nth-child(4),
.c-table--stamp-correction-request .data td:nth-child(4) {
  padding-right: 10px;
  width: 180px;
  line-height: 1.2;
}

.c-table--stamp-correction-request .header th:last-child,
.c-table--stamp-correction-request .data td:last-child {
  padding-right: 10px;
}

/* staff-list関係 */
.c-table--staff-list .header th:first-child,
.c-table--staff-list .data td:first-child {
  padding-left: 50px;
  width: 238px;
}

.c-table--staff-list .header th:last-child,
.c-table--staff-list .data td:last-child {
  width: 120px;
}

@media screen and (max-width: 800px) {
  .c-table--staff-list .header th:first-child,
  .c-table--staff-list .data td:first-child {
    padding-left: 30px;
    width: 200px;
  }

  .c-table--staff-list .header th:last-child,
  .c-table--staff-list .data td:last-child {
    width: 100px;
  }
}

/* ---------------------- */
/* 詳細テーブル
/* ---------------------- */
.c-table-detail {
  padding-bottom: 18px;
  color: var(--color-font-light-gray);
  font-weight: 700;
  background-color: var(--color-bg-white);
  border-collapse: separate;
  border-spacing: 0;
  border: none;
  border-radius: 10px;
}

.c-table-detail th {
  padding: 28px 0 28px 64px;
  width: 300px;
  font-weight: 700;
}

.c-table-detail td {
  color: var(--color-font-base);
}

.c-table-detail tr:not(:last-child) th,
.c-table-detail tr:not(:last-child) td {
  border-bottom: 2px solid var(--color-border-light-gray);
}

.c-table-detail .request-id,
.c-table-detail .request-date,
.c-table-detail .name,
.c-table-detail .date,
.c-table-detail .time {
  padding-left: 24px;
}

.c-table-detail .input-date {
  padding-left: 20px;
  width: 206px;
  height: 29px;
  border: 1px solid var(--color-border-light-gray);
  border-radius: 4px;
}

.c-table-detail .input-time {
  padding-left: 28px;
  padding-bottom: 2px;
  width: 103px;
  height: 29px;
  font-weight: 700;
  border: 1px solid var(--color-border-light-gray);
  border-radius: 4px;
}

.c-table-detail .wave {
  margin: 0 51px;
  display: inline-block;
}

.c-table-detail .remarks-textarea {
  margin: 18px 0 0;
  padding-left: 8px;
  padding-top: 5px;
  width: 316px;
  height: 90px;
  border: 1px solid var(--color-border-light-gray);
}

.c-table-detail .remarks-pre {
  padding-left: 24px;
  width: 350px;
  line-height: 1.8;
}

/* エラーメッセージ対応（上書き） */
/* .c-table-detail tr:has(+ .error) th {
  padding-bottom: 0;
  border-bottom: none;
} */



/* ---------------------- */
/* <pre>への対応
/* ---------------------- */
.c-pre {
  font-family: inherit;  /* 等幅フォントを解除 */
  white-space: pre-wrap;  /* 改行を保持しつつ折り返し */
  word-wrap: break-word;    /* 長い単語も折り返し */
}

/* =========================== */
/*
/* js用クラス
/*
/* =========================== */
.js-hidden {
  display: none !important;
}

.js-active-title {
  font-weight: 700;
}

.js-processing {
  opacity: 0.5;
}

.js-processing:hover {
  cursor: not-allowed;
}

/* =========================== */
/*
/* bodyタグ
/*
/* =========================== */
body {
  font-family: var(--font-family-jp);
  line-height: 1.8;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-font-base);
  letter-spacing: 0.08em;
}

/* =========================== */
/*
/* bladeレイアウト
/*
/* =========================== */
.l-container-60 {
  margin: 0 auto;
  width: 60%;
  max-width: 900px;
}

@media screen and (max-width: 1000px) {
  .l-container-60 {
    width: 80%;
  }
}

/* =========================== */
/*
/* bladeコンポーネント
/*
/* =========================== */
#header {
  padding: 0 40px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-black);
}

#header .logo {
  width: 370px;
}

#header .nav,
#header .nav-hamburger {
  color: var(--color-font-white);
  font-size: 1.5rem;
  font-weight: 700;
}

#header .nav {
  display: flex;
  gap: 55px;
}

@media screen and (max-width: 1300px) {
  #header .nav {
    display: none;
  }
}

#header .nav-link {
  color: var(--color-font-white);
  font-size: 1.5rem;
}

#header .nav-hamburger {
  display: none;
}

/* ハンバーガーメニュー */
@media screen and (max-width: 1300px) {
  #header .nav-hamburger {
    position: relative;
    display: block;
  }

  #header .nav-hamburger-svg {
    width: 50px;
    height: 50px;
    background-image:  url(../img/hamburger_menu.svg);
  }

  #header .nav-hamburger-menu {
    padding: 20px 10px;
    width: 100vw;
    max-width: 230px;
    position: absolute;
    top: 65px;
    right: -40px;
    background-color: var(--color-bg-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 3px solid var(--color-border-gray);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  #header .nav-hamburger-menu-link {
    text-align: center;
  }
}

/* =========================== */
/*
/* 個別ページ
/*
/* =========================== */

/* ----------------------- */
/* login.blade.php
/* ログインページ（#login）
/* c-default-formを使用
/* ----------------------- */

/* ----------------------- */
/* register.blade.php
/* ユーザ登録ページ（#register）
/* c-default-formを使用
/* ----------------------- */

/* ----------------------- */
/* verify_email.blade.php
/* ユーザ登録ページ（#verify-email）
/* ----------------------- */
#verify-email {
  margin: 0 auto;
  width: 80%
}

#verify-email .message {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

#verify-email .message-title {
  font-size: 1.5rem;
}

#verify-email .resent {
  color: var(--color-font-red);
  font-size: 0.6rem;
  text-align: center;
}

#verify-email .logout-form-btn {
  margin-top: 50px;
}

/* ----------------------- */
/* attendance_register.blade.php
/* 勤怠登録ページ（#attendance-register）
/* ----------------------- */
#attendance-register {
  text-align: center;
}

#attendance-register .label {
  margin: 60px auto 0;
}

#attendance-register .date {
  margin-top: 32px;
  font-size: 3rem;
}

#attendance-register .time {
  margin-top: 20px;
  font-size: 5rem;
  font-weight: 700;
}

#attendance-register .time--opacity {
  opacity: 0.3;
}

#attendance-register .reload {
  margin: 18px auto 0;
  width: 200px;
  display: block;
  position: relative;
  color: var(--color-font-blue);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

#attendance-register .reload::before {
  content: '';
  width: 173px;
  position: absolute;
  top: calc(100% + 4px);
  border-bottom: 1px solid var(--color-font-blue);
}

#attendance-register .buttons {
  margin: 50px auto 0px;
  display: flex;
  justify-content: center;
}

#attendance-register .buttons-leave {
  display: flex;
  gap: 40px;
  justify-content: center;
}

#attendance-register .message {
  font-size: 2rem;
  text-align: center;
}

/* ----------------------- */
/* attendance_list.blade.php
/* 勤怠一覧（#attendance-list）
/* c-tableを使用
/* ----------------------- */
#attendance-list {
  background-color: var(--color-bg-base);
  overflow: hidden;
}

#attendance-list .table {
  margin: 46px 0 0;
}

/* ボタンがない場合はdivを置いてマージンを作る */
#attendance-list .margin {
  margin-bottom: 114px;
}

#attendance-list .month {
  margin-top: 47px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-white);
  border-radius: 10px;
}

#attendance-list .month-prev,
#attendance-list .month-next {
  position: relative;
  color: var(--color-font-light-gray);
}

#attendance-list .month-prev {
  padding-left: 52px;
  display: block;
}

#attendance-list .month-prev::before {
  content: '';
  width: 20px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 24px;
  top: 2px;
  background-image: url(../img/icon_prev_arrow.jpg);
  background-size: cover;
}

#attendance-list .month-current {
  position: relative;
  font-size: 1.25rem;
  font-weight: 700;
}

#attendance-list .month-current::before {
  content: '';
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -35px;
  background-image: url(../img/icon_calendar.jpg);
  background-size: cover;
}

#attendance-list .month-next {
  padding-right  : 52px;
  display: block;
}

#attendance-list .month-next::before {
  content: '';
  width: 20px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 24px;
  top: 2px;
  background-image: url(../img/icon_next_arrow.jpg);
  background-size: cover;
}

#attendance-list .month-opacity-0 {
  opacity: 0;
}

#attendance-list .no-data-message {
  margin-top: 46px;
  text-align: center;
}

#attendance-list .data-no-registration {
  width: calc(100% - 238px);
}

#attendance-list .button {
  margin: 30px 0 84px auto;
}

/* ----------------------- */
/* stamp_correction_request.blade.php
/* 申請一覧（#stamp-correction-request）
/* c-tableを使用
/* ----------------------- */
#stamp-correction-request .container {
  margin: 0 auto;
  width: 60%;
  max-width: 900px;
}

@media screen and (max-width: 1300px) {
  #stamp-correction-request .container {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  #stamp-correction-request .container {
    width: 95%;
  }
}

#stamp-correction-request .titles {
  margin-top: 65px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--color-border-black);
}

#stamp-correction-request .title {
  display: inline-block;
}

#stamp-correction-request .title:first-child {
  margin-left: 57px;
}

#stamp-correction-request .title:nth-child(2) {
  margin-left: 100px;
}

#stamp-correction-request .tabs {
  margin: 45px 0 170px;
}

/* ----------------------- */
/* attendance_detail.blade.php
/* 申請一覧（#attendance-detail）
/* c-table-detailを使用
/* ----------------------- */
/* モーダル用 */
#attendance-detail {
  position: relative;
}

#attendance-detail .edit-table,
#attendance-detail .request-content-table {
  margin: 30px 0 20px;
}

#attendance-detail .button {
  margin-bottom: 43px;
}

#attendance-detail .request-content-message {
  margin: 10px 0 43px;
  color: var(--color-font-red);
  text-align: right;
}

#attendance-detail .not-applicable-message {
  margin-top: 60px;
  font-size: 1.5rem;
  text-align: center;
}

/* ----------------------- */
/* staff_list.blade.php
/* スタッフ一覧（#staff-list）
/* c-table, c-table--staffを使用
/* ----------------------- */

#staff-list .container {
  margin: 0 auto;
  width: 60%;
  max-width: 900px;
}

@media screen and (max-width: 1300px) {
  #staff-list .container {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  #staff-list .container {
    width: 95%;
  }
}

#staff-list .table {
  margin: 30px 0 50px;
}

/* ----------------------- */
/* admin_daily_attendance_list.blade.php
/* 勤怠一覧（#attendance-list）
/* c-tableを使用
/* ----------------------- */
#admin-daily-attendance-list {
  background-color: var(--color-bg-base);
  overflow: hidden;
}

#admin-daily-attendance-list .table {
  margin: 46px 0 114px;
}

#admin-daily-attendance-list .day {
  margin-top: 47px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-white);
  border-radius: 10px;
}

#admin-daily-attendance-list .day-prev,
#admin-daily-attendance-list .day-next {
  position: relative;
  color: var(--color-font-light-gray);
}

#admin-daily-attendance-list .day-prev {
  padding-left: 52px;
  display: block;
}

#admin-daily-attendance-list .day-prev::before {
  content: '';
  width: 20px;
  height: 15px;
  display: inline-block;
  position: absolute;
  left: 24px;
  top: 2px;
  background-image: url(../img/icon_prev_arrow.jpg);
  background-size: cover;
}

#admin-daily-attendance-list .day-current {
  position: relative;
  font-size: 1.25rem;
  font-weight: 700;
}

#admin-daily-attendance-list .day-current::before {
  content: '';
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  top: -3px;
  left: -35px;
  background-image: url(../img/icon_calendar.jpg);
  background-size: cover;
}

#admin-daily-attendance-list .day-next {
  padding-right  : 52px;
  display: block;
}

#admin-daily-attendance-list .day-next::before {
  content: '';
  width: 20px;
  height: 15px;
  display: inline-block;
  position: absolute;
  right: 24px;
  top: 2px;
  background-image: url(../img/icon_next_arrow.jpg);
  background-size: cover;
}

#admin-daily-attendance-list .day-opacity-0 {
  opacity: 0;
}

#admin-daily-attendance-list .no-data-message {
  margin-top: 46px;
  text-align: center;
}